body {
    background-image: url("../Images/BackgroundV2.png"); 
    background-color: rgba(0, 255, 227, 1); 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 85%;
    min-width: 100px;
    max-width: 800px;
    margin: 0 auto;
    padding: 5%,5%,5%,5%;    
    text-align: center;
}

.page-title {
    font-size: larger;
    font-style: oblique;
}

hr {
    width: 70%;
}

li {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: large;
}

q {
    color: darkgoldenrod;
}

.header_img {
    background-image: url("../Images/Teal-White-Poly-Back.gif");
    border-image: 5px;
    border-color: darkgoldenrod;
    border-style: groove;
}
.interactive {
    cursor: pointer;
}

.brand_name{
    color: goldenrod;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darkgoldenrod;
}
ul{
    content: '\U+1F4A2' ; margin-left: -20px; margin-right: 10px;
}
