td:hover {
    color: darkgoldenrod;
    background-color: cadetblue;
    cursor: crosshair;
}
table {
  border-color: darkgoldenrod;
}
td {
border-color: darkgoldenrod;
}
th {
border-color: darkgoldenrod;
}
table.GeneratedTable {
  width: 100%;
border-collapse: separate;
  border-width: 2px;
  border-color: darkgoldenrod;
  border-style: solid;
  color: #000000;
  
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: darkgoldenrod;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: darkgoldenrod;
}

.content_type {
    background-color: goldenrod;
}
